
.sign-in-container {
  padding: 100px 0;

  .logo {
    width: 300px;
  }

  .sign-in-form {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .sign-in-container {
    padding: 50px 0;

    .logo {
      width: 200px;
    }

    .sign-in-form {
      width: 100%;
      max-width: 300px;
    }
  }

  .ant-space-vertical {
    max-width: 100% !important; 
    padding: 0 !important;
  }
}